.contact {
    background-image: url(../img/bg-contact.png);
    color:#fff;
    padding-bottom: 100px;

    &__title {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        left: 50%;
        width: 100%;


        &::before {
           content: 'C';
           font-family: "gotham", sans-serif;
           left: 43%;
           color: rgba(255,255,255,0.5)
        }
    }
}

.form {
    padding-top: 345px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    input {
       @include col();
       @include size(4);
       background-color: inherit;
       border: 1px solid #fff;       
       padding: 8px 16px;
       color: #fff;
    }

    ::placeholder {
        color: #fff;
        font-size: 15px;    
    }

    textarea {
        @include col();
        @include size(12);
        background-color: inherit;
        border: 1px solid #fff; 
        margin-top: 38px;
        padding: 8px 16px;
        resize: none;
        color: #fff;
    }

    input[type=submit] {
        background-color: #11749e;
        border: none;
        margin-top: 40px;
    }
}

#mapContainer{
    width: 100%;
    height: 335px;
}