.section {
    background-color: #11749e;
    color: #fff;
    position: relative;

    &__title {
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 38px;

        &::before {
            position: absolute;
            top: -120px;
            left: 25%;
            font-size: 250px;
            text-align: center;
            opacity: 0.5;
        }
    }
}

.about-agency {
    &__title {
        &::before {
           content: 'W'
        }
    }
}

.articles {
    padding-top: 345px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 126px;

    .article {
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--before::before {
            content: '';
            display: block;
            width: 133px;
            height: 133px;
            background-color: #2e85aa;
            border-radius: 50%;
            margin-bottom: 24px;
            background-size: 30%;
            background-position: center center;
            background-repeat: no-repeat;
            
        }
        
        
        
        &__title {
            text-transform: uppercase;
            font-size: 18px;
        }

        &__text {
            font-family: "gothem_book";
            font-size: 15px;
            text-align: center;
            line-height: 24px;
        }
    }
}

.edit::before {
    background-image: url(../../img/icon-edit.svg);
}

.magnifying-glass::before {
    background-image: url(../../img/icon-magnifying-glass.svg);
}

.comment::before {
    background-image: url(../../img/icon-comment.svg);
}


