.team {
    background-color: #fff;
    color:#222;
    padding-bottom: 100px;

    &-container {
        @include container();
    }

    &__title {
        text-transform: uppercase;

        &::before {
           content: 'T';
           left: 15%;
        }
    }

    &__text {
        font-family: "gothem_book", sans-serif;
        padding-top: 345px;
        padding-bottom: 75px;
        font-size: 30px;
        text-align: center;
    }

    &__article {
        @include reset();
        @include col();
        @include size(3);
    }

    .team-member {
        position: relative;
        text-align: center;

        &__description {
            position: absolute;
            background-color: #fff;
            bottom: -50px;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 216px;
        }

        &__name {
            margin: 6px;
            color: #11749e;
            font-size: 20px;
            font-weight: 500;
        }

        &__position {
            color: #000;
            margin: 6px;
            font-size: 15px;
        }
    }
}

@media (max-width: 600px) {
    .team__article {
        @include col();
        @include size(6);
        margin-bottom: 25px;
    }
}